@import url(colours.css);

@font-face {
  font-family: 'LEMONMILK-Regular';
  src: url('/font/LEMONMILK-Regular.ttf');
}
  

body {
  background-color: var(--bg_colour);
  font-family: "LEMONMILK-Regular", sans-serif;
  color: var(--text_colour);
}

p {
  font-size: 14px;
  text-align: left;
}

a {
  color: var(--button_colour);
}

p > a:hover {
  color: var(--text_colour);
}

header {
  margin: auto;
  text-align: center;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 14px;
}

.header_logotext {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 35px;
  margin-left: 35px;
  color: var(--button_colour);
  text-decoration: none;
}

.header_link {
  text-align: center;
  vertical-align: middle;
  padding-right: 25px;
  padding-left: 25px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: var(--button_colour);
  border-bottom-style: solid;
  color: var(--button_colour);
  text-decoration: none;
}

.header_link:hover {
  color: var(--text_colour);
  border-bottom-color: var(--text_colour);
}

hr {
  width: 85%; 
  color: var(--button_colour);
}

footer {
  margin: auto;
  text-align: center;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;  
}

.footer-text {
  color: var(--button_colour);
}

.footer-text > a:hover {
  color: var(--text_colour)
}

.text-content {
  margin: auto;
  width: 1280px;
  max-width: 85%;
}

.text-content > p {
  text-align: justify;
  font-size: 18px;  
}

.page-header {
  text-align: center;
  font-size: 40px;
}

.undertitle {
  text-align: center;
}

.articles-list {
  margin: auto;
  width: 85%;
  max-width: 365px;
}

.articles-list > a {
  color: var(--text_colour);
  width: 100%;
  text-decoration: none;
}

.articles-list > a:hover {
  color: var(--button_colour);
}

.articles-list > a > p {
  text-align: justify;
}

.list-content {
  width: 85%;
  max-width: 700px;
  margin: auto;
}

.list-entry > p {
  text-align: justify;
  font-size: 18px;
}